<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="CG.AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.SourceRoot)/**">
        <Exclude Files="$(var.SourceRoot)/packaging/wix/**" />
      </Files>
    </ComponentGroup>
  </Fragment>
</Wix>
